.home-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #60a5fa, #99c5ff);
    overflow-y: auto;
}

.op-profiles,
.ofp-profiles,
.v-broadcasts,
.pv-broadcasts,
.uv-broadcasts {
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: auto;
    touch-action: pan-x;
}

.home-heading-container {
    width: 100%;
    height: auto;
    display: flex;
}

.home-text {
    height: inherit;
    padding: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
}

.home-name {
    font-weight: 700;
    flex: 1;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.home-profile-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    height: auto;
}

.home-profile {
    width: 44px;
    height: 44px;
    border: white 2px solid;
    border-radius: 22px;
    background-color: #85858e;
}

.home-label {
    font-size: 20px;
    font-weight: 500;
}

.online-profiles-container {
    width: 100%;
    height: auto;
    /* background-color: #85858e; */
    padding: 16px
}

.op-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.op-profiles {
    display: flex;
    /* overflow: auto; */
}

.op-profile {
    flex: 0 0 auto;
    width: 80px;
    height: 95px;
    /* background-color: #ffffffe6; */
    border-radius: 10px;
    /* margin-right: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    align-items: center;
}

.op-profiles-logo {
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(182, 127, 60);
}

.op-profiles-logo::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 59px;
    height: 59px;
    border-radius: 36px;
    /* border: 3px solid rgb(86 207 0); */
    border: 3px solid rgb(110 255 0);
}

.op-profiles-name {
    color: white;
    font-size: 14px;
}

.urgent-verifications-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.uv-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.uv-broadcasts {
    display: flex;
    overflow-x: auto;
}

.uv-broadcast {
    flex: 0 0 auto;
    display: flex;
    min-width: 250px;
    max-width: 300px;
    height: auto;
    margin-right: 16px;
    /* background: linear-gradient(to bottom right, #ffe0e0, #fff7ed); */
    background: linear-gradient(to bottom right,
            rgba(255, 224, 224, 0.4),
            rgba(255, 247, 237, 0.4));

    border: 1px solid #fecaca;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: black;
}


.uv-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.uv-company-name {
    max-width: 150px;
    overflow: hidden;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2px;
}

.uv-created-by {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.uv-created-at {
    font-weight: 400;
    font-size: 12px;
}

.uv-labels {
    width: 120px;
    height: 100%;
    /* background-color: red; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.uv-label {
    width: 64px;
    height: 30px;
    background-color: #60a5fa;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.uv-button {
    width: 88px;
    height: 30px;
    font-weight: 500;
    background-color: #ffffff96;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: #50ff00 1px solid;
}

.pending-verifications-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.pv-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.pv-broadcasts {
    display: flex;
    overflow-x: auto;
}

.pv-broadcast {
    flex: 0 0 auto;
    display: flex;
    min-width: 250px;
    max-width: 300px;
    height: auto;
    max-height: 130px;
    margin-right: 16px;
    color: black;
    /* background: linear-gradient(to bottom right, #fefce8, #fffbeb); */
    background: linear-gradient(to bottom right,
            rgba(254, 252, 232, 0.4),
            rgba(255, 251, 235, 0.4));

    border: 1px solid #fef08a;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.pv-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.pv-company-name {
    max-width: 150px;
    overflow: hidden;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2px;
}

.pv-created-by {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.pv-created-at {
    font-weight: 400;
    font-size: 12px;
}

.pv-labels {
    width: 120px;
    height: 100%;
    /* background-color: red; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.pv-label {
    width: 64px;
    height: 30px;
    background-color: #60a5fa;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.pv-button {
    width: 88px;
    height: 30px;
    font-weight: 500;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: #50ff00 1px solid;
}

.verified-broad-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.v-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.v-broadcasts {
    display: flex;
    overflow-x: auto;
}

.v-broadcast {
    flex: 0 0 auto;
    color: black;
    height: auto;
    display: flex;
    min-width: 250px;
    max-width: 300px;
    margin-right: 16px;
    /* background: linear-gradient(to bottom right, #eff6ff, #f0f9ff); */
    background: linear-gradient(to bottom right,
            rgba(239, 246, 255, 0.4),
            rgba(240, 249, 255, 0.4));

    /* blue-50 → sky-50 */
    border: 1px solid #bfdbfe;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


.v-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.v-company-name {
    max-width: 150px;
    overflow: hidden;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2px;
}

.v-created-by {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.v-created-at {
    font-weight: 400;
    font-size: 12px;
}

.v-labels {
    width: 120px;
    height: 100%;
    /* background-color: red; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.v-label {
    width: 64px;
    height: 30px;
    background-color: #60a5fa;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.v-button {
    width: 88px;
    height: 30px;
    font-weight: 500;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: #50ff00 1px solid;
}

.offline-profiles-container {
    width: 100%;
    height: auto;
    padding: 16px;
    margin-bottom: 120px;
}


.ofp-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.ofp-profiles {
    display: flex;
    overflow: auto;
}

.ofp-profile {
    flex: 0 0 auto;
    width: 80px;
    height: 95px;
    /* background-color: #ffffffe6; */
    border-radius: 10px;
    /* margin-right: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    align-items: center;
}

.ofp-profiles-logo {
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(182, 127, 60);
}

.ofp-profiles-logo::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 59px;
    height: 59px;
    border-radius: 36px;
    /* border: 3px solid #ababab; */
    border: 3px solid #e2dddd;
}

.ofp-profiles-name {
    color: white;
    font-size: 14px;
}