.home-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #60a5fa, #dbeafe);
    overflow-y: auto;
}

.home-heading-container {
    width: 100%;
    height: auto;
    display: flex;
}

.home-text {
    height: inherit;
    padding: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
}

.home-name {
    font-weight: 700;
    flex: 1;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.home-profile-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    height: auto;
}

.home-profile {
    width: 44px;
    height: 44px;
    border: white 2px solid;
    border-radius: 22px;
    background-color: #85858e;
}

.home-label {
    font-size: 20px;
    font-weight: 500;
}

.online-profiles-container {
    width: 100%;
    height: auto;
    /* background-color: #85858e; */
    padding: 16px
}

.op-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.op-profiles {
    display: flex;
    overflow: auto;
}

.op-profile {
    flex: 0 0 auto;
    width: 80px;
    height: 90px;
    background-color: #ffffffe6;
    border-radius: 10px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    align-items: center;
}

.op-profiles-logo {
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(182, 127, 60);
}

.op-profiles-logo::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 59px;
    height: 59px;
    border-radius: 36px;
    border: 3px solid rgb(86 207 0);
}

.op-profiles-name {
    color: black;
    font-size: 14px;
}

.urgent-verifications-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.uv-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.uv-broadcasts {
    display: flex;
    overflow-x: auto;
}

.uv-broadcast {
    flex: 0 0 auto;
    width: 250px;
    height: 100px;
    margin-right: 16px;
    background: linear-gradient(to bottom right, #ffe0e0, #fff7ed);
    border: 1px solid #fecaca;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.pending-verifications-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.pv-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.pv-broadcasts {
    display: flex;
    overflow-x: auto;
}

.pv-broadcast {
    flex: 0 0 auto;
    width: 250px;
    height: 100px;
    margin-right: 16px;
    background: linear-gradient(to bottom right, #fefce8, #fffbeb);
    border: 1px solid #fef08a;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.verified-broad-container {
    width: 100%;
    height: auto;
    padding: 16px
}

.v-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.v-broadcasts {
    display: flex;
    overflow-x: auto;
}

.v-broadcast {
    flex: 0 0 auto;
    width: 250px;
    height: 100px;
    margin-right: 16px;
    background: linear-gradient(to bottom right, #eff6ff, #f0f9ff);
    /* blue-50 → sky-50 */
    border: 1px solid #bfdbfe;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.offline-profiles-container {
    width: 100%;
    height: auto;
    padding: 16px;
    margin-bottom: 120px;
}


.ofp-heading {
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

.ofp-profiles {
    display: flex;
    overflow: auto;
}

.ofp-profile {
    flex: 0 0 auto;
    width: 80px;
    height: 90px;
    background-color: #ffffffe6;
    border-radius: 10px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    align-items: center;
}

.ofp-profiles-logo {
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(182, 127, 60);
}

.ofp-profiles-logo::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 59px;
    height: 59px;
    border-radius: 36px;
    border: 3px solid #ababab;
}

.ofp-profiles-name {
    color: black;
    font-size: 14px;
}