.app-container {
  /* display: flex; */
  width: 100%;
  height: 100vh;
  flex-direction: row;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}