@media screen and (min-width: 480px) {
    .db-button:hover .db-svg {
        stroke: #ffa0a0bf;
        cursor: pointer;
    }

    .db-button {
        right: 22px;
    }
}

@media screen and (max-width: 480px) {
    .db-button svg {
        width: 32px;
        height: 32px;
    }
}

.db-button {
    position: absolute;
    right: 22px;
    top: 145px;
}