@media screen and (min-width: 480px) {
    .whatsapp-button:hover svg {
        fill: #25D366;
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button svg {
        width: 36px;
        height: 36px;
    }
}

.whatsapp-button {
    position: absolute;
    right: 20px;
    top: 77px;
}