@media screen and (min-width: 480px) {
    .whatsapp-button:hover svg {
        fill: #25D366;
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button svg {
        width: 32px;
        height: 32px;
    }
}

.whatsapp-button {
    position: absolute;
    right: 22px;
    top: 77px;
}