@media screen and (min-width: 480px) {
    .whatsapp-button:hover {
        background-color: #eaeaea;
        border-color: #15307ebf;
        border-style: solid;
        border-width: 1px;
    }

    .whatsapp-button:hover .whatsapp-svg {
        stroke: #15307ebf;
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button svg {
        width: 36px;
        height: 36px;
    }
}

.whatsapp-button {
    position: absolute;
    right: 20px;
    top: 77px;
}